# Pandas Tutorial

## Pandas Introduction

### What is Pandas?

**Pandas is a Python library used for working with data sets.**

**It has functions for analyzing, cleaning, exploring, and manipulating data.**

### Why use Pandas?

**Pandas allows us to analyze big data and make conclusions based on statistical theories.**

**Pandas can clean messy data sets, and make them readable and relevant.**

**Relevant data is very important in data science.**

### What Can Pandas Do?

**Pandas gives you answers about the data. Like:**

**Is there a correlation between two or more columns?**
    
**What is average value?**
    
**Min, Max value?**

**Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.**

## Pandas Getting started

### Installing Pandas

In [2]:
!pip install pandas

### Import Pandas

In [3]:
import pandas as pd

**Example**

In [4]:
import pandas as pd

myData = {
    'subject' : ['JPD123', 'MAS291', 'PRJ301','IOT102'],
    'mark' : [5, 6, 7, 8]
}

df = pd.DataFrame(myData)
print(df)

  subject  mark
0  JPD123     5
1  MAS291     6
2  PRJ301     7
3  IOT102     8

## Pandas Series and Data Frame

### Definition

**The primary two components of pandas are the <font color='red'>Series</font> and <font color='red'>DataFrame</font>.**

**A <font color='red'>Series</font> is essentially a column, and a <font color='red'>DataFrame</font> is a multi-dimensional table made up of a collection of <font color='red'>Series</font>
\.**

![alt text](https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png "Title")

**Example Series**

In [5]:
import pandas as pd

a = [1, 7, 2]
                
myVar = pd.Series(a)

print(myVar)

0    1
1    7
2    2
dtype: int64

**Example DataFrame**

In [6]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [7]:
purchases = pd.DataFrame(data)

purchases

Collecting pandas
  Downloading pandas-1.5.2-cp311-cp311-win_amd64.whl (10.3 MB)
     --------------------------------------- 10.3/10.3 MB 11.1 MB/s eta 0:00:00
Collecting python-dateutil>=2.8.1
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting pytz>=2020.1
  Downloading pytz-2022.7-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 kB 10.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\python311\lib\site-packages (from pandas) (1.23.5)
Collecting six>=1.5
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: pytz, six, python-dateutil, pandas
Successfully installed pandas-1.5.2 python-dateutil-2.8.2 pytz-2022.7 six-1.16.0

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

<font size="5" color="blue">**Syntax pd.DataFrame()**</font>

### How it work?

**Each <font color = 'red'>(key, value)</font> item in data corresponds to a column in the resulting DataFrame.**

**The <font color = 'red'>Index</font> of this DataFrame was given to us on creation as the numbers 0-3, but we could also create our own when we initialize the DataFrame.**

In [8]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

## Reading file (CSV, JSON)

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('winemag-data_first150k.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'winemag-data_first150k.csv'

In [ ]:
df.head(5)

In [ ]:
df = pd.read_json('winemag-data-130k-v2.json')

In [ ]:
df

### Get data from web and save

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [ ]:
url = "https://en.wikipedia.org/wiki/World_population"
data = requests.get(url).text

In [ ]:
data

In [ ]:
soup = BeautifulSoup(data, "html.parser")

In [ ]:
tables = soup.find_all('table')

In [ ]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

In [ ]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
data = requests.get(url).text

In [ ]:
soup1 = BeautifulSoup(data, "html.parser")

In [ ]:
tables = soup1.find_all('table')

In [ ]:
bank_data_read_html = pd.read_html(str(tables[0]), flavor='bs4')[0]

bank_data_read_html

In [ ]:
bank_data_read_html.to_json('rank_bank_by_total_asset.json')

In [ ]:
bank_data_read_html.to_csv('rank_bank_by_total_asset.csv')

## Pandas Analyzing data

In [ ]:
df = pd.read_csv('winemag-data_first150k.csv')

<font size='4'>We can use the <font  color='red'>**copy()**</font> command to copy the Dataframe:</font>

In [ ]:
dfcopy = df.copy()

<font size='4'>We can use the <font  color='red'>**shape**</font> attribute to check how large the resulting DataFrame is:</font>

In [ ]:
df.shape

<font size='4'>We can use the <font  color='red'>**info()**</font> to have an overview of your dataset</font>

In [ ]:
df.info()

<font size='4'>We can examine the contents of the resultant DataFrame using the <font color='red'>**head()**</font> command, which grabs the first five rows:</font>

In [ ]:
df.head()

<font size='4'>To make pandas use that column for the index (instead of creating a new one from scratch), we can specify an <font color='red'>**index_col**</font>.</font>

In [ ]:
df = pd.read_csv('winemag-data_first150k.csv', index_col=0)
df.head()

## Indexing, Selecting & Assigning

In [ ]:
df = pd.read_csv('winemag-data_first150k.csv', index_col=0)

In [ ]:
df

**Ways to display one column**

In [ ]:
df.country

In [ ]:
df['country']

In [ ]:
df['country'][5]

### Indexing in pandas

####  Index-based selection

In [ ]:
from IPython import display
display.Image("https://python.astrotech.io/_images/pandas-dataframe-select-column.png")

.loc[] - uses fancy indexing, start and stop are included!!

.iloc[] - only index numbers, behaves like Python slices

In [ ]:
df.loc[20]

In [ ]:
df.loc[:4]

In [ ]:
# df.loc[0:10:2]
df.loc[1:10:2]

In [ ]:
df.loc[5, ['country', 'description', 'price']]

In [ ]:
df.loc[:,'country']

In [ ]:
df.iloc[20]

In [ ]:
df.iloc[:4]

In [ ]:
df.iloc[0:10:2]
# df.iloc[1:10:2]

In [ ]:
df.iloc[:,'country']

<font size='4' color='blue'>**Note .iloc[] only expect indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types**</font>

### Manipulating the index

In [ ]:
df.set_index("country")

### Conditional selection

In [ ]:
df.price == 90

**This operation produced a Series of True/False booleans based on the country of each record. This result can then be used inside of loc to select the relevant data:**

In [ ]:
df.loc[df.price == 90]

In [ ]:
df.loc[(df.price == 90) & (df.country == "US")]

In [ ]:
df.loc[df.price.isin([5, 20, 25, 26, 7, 27])]

In [ ]:
df.loc[df.price.notnull()]

### Assigning data

In [ ]:
df['price'] = 1

In [ ]:
df

## Summary Functions and Maps

In [ ]:
df = pd.read_csv('winemag-data_first150k.csv', index_col=0)

In [ ]:
df.head()

### Summary functions

In [ ]:
df.price.describe()

In [ ]:
df.head(5)

In [ ]:
df.country.describe()

In [ ]:
df.loc[:,'region_1'].unique()

In [ ]:
df.region_2.unique()

In [ ]:
df.loc[:,'province'].value_counts()

In [ ]:
df_points_mean = df.price.mean()
df.price.map(lambda p: p - df_points_mean)

In [ ]:
df

In [ ]:
def remean_points(row):
    row.points = row.points - df_points_mean
    return row

df.apply(remean_points, axis='columns')

In [ ]:
df.country + " - " + df.region_1 + " - " + df.region_2

## Grouping and Sorting

### Introduction

<font size='4'><strong>Maps allow us to transform data in a DataFrame or Series one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in.<br>As you'll learn, we do this with the groupby() operation. We'll also cover some additional topics, such as more complex ways to index your DataFrames, along with how to sort your data.</strong></font>

### Groupwise analysis

<font size='4'><strong>One function we've been using heavily thus far is the value_counts() function. We can replicate what value_counts() does by doing the following:

In [ ]:
df.groupby('points').points.count()

In [ ]:
df.points.value_counts()

<font size='4'><strong>groupby() created a group of reviews which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the points() column and counted how many times it appeared. value_counts() is just a shortcut to this groupby() operation.<br>We can use any of the summary functions we've used before with this data. For example, to get the cheapest wine in each point value category, we can do the following:

In [ ]:
df.groupby('points').price.min()

### Apply function for sub-dataframe

In [ ]:
df.head(5)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [ ]:
df.groupby('province').apply(lambda df: df.points.iloc[0])

province
Achaia                   83
Aconcagua Costa          90
Aconcagua Valley         91
Aegean                   89
Ahr                      90
                         ..
Zenata                   90
Zitsa                    82
Österreichischer Sekt    85
Štajerska                89
Župa                     89
Length: 455, dtype: int64

### Groupby more than one columns

In [ ]:
df.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

### Aggregate function

<font size='4'>Another <b>groupby()</b> method worth mentioning is <b>agg()</b>, which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [ ]:
df.groupby(['country']).price.agg([len, min, max]).head()

                           len   min     max
country
Albania                    2.0  20.0    20.0
Argentina               5631.0   4.0   250.0
Australia               4957.0   5.0   850.0
Austria                 3057.0   8.0  1100.0
Bosnia and Herzegovina     4.0  12.0    13.0

### Multi-indexes

In [ ]:
countries_reviewed = df.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246
...                          ...
Uruguay   Juanico             19
          Montevideo           3
          Progreso             5
          San Jose            15
          Uruguay             18

[455 rows x 1 columns]

<font size='4'>Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value. Dealing with multi-index output is a common "gotcha" for users new to pandas.<br>The use cases for a multi-index are detailed alongside instructions on using them in the <b>MultiIndex / Advanced Selection</b> section of the pandas documentation.<br>However, in general the multi-index method you will use most often is the one for converting back to a regular index, the <b>reset_index()</b> method:

In [ ]:
countries_reviewed.reset_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

### Sorting

<font size='4'>Looking again at <font color='blue'>`countries_reviewed`</font> we can see that grouping returns data in index order, not in value order. That is to say, when outputting the result of a groupby, the order of the rows is dependent on the values in the index, not in the data.<br>To get data in the order want it in we can sort it ourselves. The <font color='blue'>`sort_values()`</font> method is handy for this.</font>

In [ ]:
countries_reviewed= countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

      country         province    len
154    Greece   Central Greece      1
207    Greece            Zitsa      1
115    Cyprus            Pafos      1
362  Slovenia  Slovenska Istra      1
213   Hungary           Pannon      1
..        ...              ...    ...
407     Spain   Northern Spain   4892
122    France         Bordeaux   6111
242     Italy          Tuscany   7281
442        US       Washington   9750
422        US       California  44508

[455 rows x 3 columns]

<font size='4'>`sort_values()` defaults to an ascending sort, where the lowest values go first. However, most of the time we want a descending sort, where the higher numbers go first. That goes thusly:</font>

In [ ]:
countries_reviewed.sort_values(by='len', ascending=False)

         country                                province    len
422           US                              California  44508
442           US                              Washington   9750
242        Italy                                 Tuscany   7281
122       France                                Bordeaux   6111
407        Spain                          Northern Spain   4892
..           ...                                     ...    ...
410  Switzerland                               Neuchâtel      1
411  Switzerland                                  Ticino      1
412  Switzerland                                  Valais      1
413  Switzerland  Vino da Tavola della Svizzera Italiana      1
175       Greece                          Krania Olympus      1

[455 rows x 3 columns]

<font size='4'>To sort by index values, use the companion method `sort_index()`. This method has the same arguments and default order:</font>

In [ ]:
countries_reviewed.sort_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

<font size='4'>Finally, know that you can sort by more than one column at a time:

In [ ]:
countries_reviewed.sort_values(by=['country', 'len'], ascending=[True, False])

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
6    Australia   South Australia  3004
8    Australia          Victoria   613
..         ...               ...   ...
448    Uruguay           Colonia     6
452    Uruguay          Progreso     5
446    Uruguay         Atlantida     4
449    Uruguay       El Colorado     3
451    Uruguay        Montevideo     3

[455 rows x 3 columns]

## Data Types and Missing Values

### Data Types

<font size='4'> The data type for a column in a DataFrame or a Series is known as the dtype.<br>You can use the dtype property to grab the type of a specific column. For instance, we can get the dtype of the price column in the reviews DataFrame:

In [ ]:
df.price.dtype

dtype('float64')

<font size='4'>Alternatively, the dtypes property returns the dtype of every column in the DataFrame:

In [ ]:
df.dtypes

country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

<font size='4'>Data types tell us something about how pandas is storing the data internally. float64 means that it's using a 64-bit floating point number; int64 means a 64-bit integer point number. Pandas use dtypes from numpy, and some common library likes: tensorflow, torch, etc also do that.

In [ ]:
import numpy as np

In [ ]:
pd.DataFrame(
[
['int8', np.iinfo(np.int8).min, np.iinfo(np.int8).max],
['uint8', np.iinfo(np.uint8).min, np.iinfo(np.uint8).max],
['int16', np.iinfo(np.int16).min, np.iinfo(np.int16).max],
['uint16', np.iinfo(np.uint16).min, np.iinfo(np.uint16).max],
['int32', np.iinfo(np.int32).min, np.iinfo(np.int32).max],
['int64', np.iinfo(np.int64).min, np.iinfo(np.int64).max],
],
columns=['type', 'min value', 'max value']
)

     type            min value            max value
0    int8                 -128                  127
1   uint8                    0                  255
2   int16               -32768                32767
3  uint16                    0                65535
4   int32          -2147483648           2147483647
5   int64 -9223372036854775808  9223372036854775807

In [ ]:
pd.DataFrame([
['float16', np.finfo(np.float16).min, np.finfo(np.float16).max],
['float32', np.finfo(np.float32).min, np.finfo(np.float32).max],
['float64', np.finfo(np.float64).min, np.finfo(np.float64).max],
],
columns=['type', 'min value', 'max value']
)

      type      min value      max value
0  float16  -6.550400e+04   6.550400e+04
1  float32  -3.402823e+38   3.402823e+38
2  float64 -1.797693e+308  1.797693e+308

<font size='4'>One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of strings do not get their own type; they are instead given the object type.<br>It's possible to convert a column of one type into another wherever such a conversion makes sense by using the astype() function. For example, we may transform the points column from its existing int64 data type into a float64 data type:

In [ ]:
df.points.astype('float64')

0         96.0
1         96.0
2         96.0
3         96.0
4         95.0
          ...
150925    91.0
150926    91.0
150927    91.0
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

### Missing data

<font size='4'>Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.<br>Pandas provides some methods specific to missing data. To select NaN entries you can use pd.isnull() (or its companion pd.notnull()). This is meant to be used thusly:

In [ ]:
df[pd.isnull(df.country)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

<font size='4'>Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna(). fillna() provides a few different strategies for mitigating such data. For example, we can simply replace each NaN with an "Unknown":

In [ ]:
df.region_2.fillna("Unknown")

0                      Napa
1                   Unknown
2                    Sonoma
3         Willamette Valley
4                   Unknown
                ...
150925              Unknown
150926              Unknown
150927              Unknown
150928              Unknown
150929              Unknown
Name: region_2, Length: 150930, dtype: object

<font size='4'>Alternatively, we may have a non-null value that we would like to replace. One way to reflect this in the dataset is using the `replace()` method:

In [ ]:
df.province.replace("California")

0                 California
1             Northern Spain
2             Northern Spain
3                     Oregon
4                   Provence
                 ...
150925        Southern Italy
150926             Champagne
150927        Southern Italy
150928             Champagne
150929    Northeastern Italy
Name: province, Length: 150930, dtype: object

<font size='4'>The `replace()` method is worth mentioning here because it's handy for replacing missing data which is given some kind of sentinel value in the dataset: things like "Unknown", "Undisclosed", "Invalid", and so on.

## Renaming and Combining

### Renaming

<font size='4'>The first function we'll introduce here is `rename()`, which lets you change index names and/or column names. For example, to change the points column in our dataset to score, we would do:

In [ ]:
df.rename(columns={'points': 'score'})

,country,description,designation,score,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

### Combining

<font size='4'>When performing operations on a dataset, we will sometimes need to combine different DataFrames and/or Series in non-trivial ways. Pandas has three core methods for doing this. In order of increasing complexity, these are `concat()`, `join()`, and `merge()`. Most of what `merge()` can do can also be done more simply with `join()` so we will omit it and focus on the first two functions here.

#### Concatenating objects

<img src='https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png' alt=''/>

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

frames = [df1, df2, df3]
results = pd.concat(frames)

In [ ]:
results

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

#### Join

<img src='https://datacomy.com/data_analysis/pandas/merge/types-of-joins.png' alt='' />

In [ ]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

result = pd.merge(left, right, on="key")
print(left)
print(right)
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [ ]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)


result = pd.merge(left, right, on=["key1", "key2"])
print(left)
print(right)
print(result)

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3
  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

<font size='4'> Left join

In [ ]:
result = pd.merge(left, right, how="left", on=["key1", "key2"])
print(result)

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

<font size='4'> Right join

In [ ]:
result = pd.merge(left, right, how="right", on=["key1", "key2"])
print(result)

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

<font size='4'> Inner join

In [ ]:
result = pd.merge(left, right, how="inner", on=["key1", "key2"])
print(result)

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

<font size='4'> Outer join

In [ ]:
result = pd.merge(left, right, how="outer", on=["key1", "key2"])
print(result)

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3